@model SARASWATIPRESSNEW.Models.Admin
@{
    ViewBag.Title = "Index";
}

<head>        </head>
        <!-- META SECTION -->
        <title>SPL Login</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" type="text/css" id="theme" href="/resources/css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->                                    
  
@using (Html.BeginForm("Index", "Adminlogin", FormMethod.Post))
{
    <body>
        <div class="login-container">
            <div class="login-box animated fadeInDown">
                <div>SSEI</div>
                <div class="login-body">
                    <div class="login-title"><strong>Welcome Admin User</strong>, Please login</div>
                    <form action="login" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(a=>a.admin_user_name,new {@class="form-control",@placeholder="Username"})
                            @Html.ValidationMessageFor(a => a.admin_user_name, null, new {style="color:red" })
                            <br />
                            </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.PasswordFor(a=>a.admin_password,new {@class="form-control",@placeholder="Password"})
                            @Html.ValidationMessageFor(a => a.admin_password, null, new {style="color:red" })
                            
                        </div>
                    </div>
                    <div class="form-group">
                       <!-- <div class="col-md-6">
                            <br />
                            <a href="#" class="btn btn-link btn-block">Forgot your password?</a>
                        </div> -->
                        <div class="col-md-5">
                            <br />
                            <button class="btn btn-info btn-block">Log In</button>                           
                        </div>
                        <div class="col-md-5">
                            <br />                           
                            <a href="/Login/Index" class="btn btn-info btn-block">Back</a>
                        </div>
                    </form>
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; WB TEXT BOOK CORPORATION
                    </div>
                    <!--<div class="pull-right">
                        <a href="#">About</a> |
                        <a href="#">Privacy</a> |
                        <a href="#">Contact Us</a>
                    </div> -->
                </div>
            </div>
            
        </div>
        
    </body>
   
}
