@model SARASWATIPRESSNEW.Models.CircleWiseChallanDeliveryReport
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BdmsLayoutPage.cshtml";
}

@using (Html.BeginForm("Index", "CircleWiseChallanDelivaryReportByDistrict", FormMethod.Post))
{
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Circle Wise Book Status Report</strong>
    <br />
    <small style="font-size:14px;color:red;">For quantity division, please tick below checkbox.</small>
</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-md-1 col-xs-6 control-label">@Html.Label("Is Details Require")</label>
            <div class="col-md-3 col-xs-12">
                @Html.CheckBoxFor(a => a.IsDetailsRequire, new { id = "chkIsDetailsRequire" })
            </div>
        </div>
    </div>
    <div class="panel-body">
        <button type="submit" id="btnSubmit" name="Command" value="Draft" class="btn btn-mini btn-danger">Export to Excel</button>
    </div>
}

@section scripts {
    <script src="~/Scripts/AppJs/MainAppJs.js"></script>
}