
@font-face
{
font-family: IDAutomationHC39M Free Version;
src: url('IDAutomationHC39M Free Version.otf') format('opentype'), /* IE9 Compat Modes */
   url('IDAutomationHC39M Free Version.ttf') format('truetype');/* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
