@{
    ViewBag.Title = "Index";
}

<head>
    <title>SPL Login</title>
    <link rel="stylesheet" type="text/css" id="theme" href="/resources/css/theme-default.css" />
    <body>
        <div class="login-container">
            <div class="login-box animated fadeInDown">
                <div>SSEI</div>
                <div class="login-body">
                    <div class="login-title"><strong>You are successfully Logged out</strong></div>
                    <div class="form-group">                            
                        <a href="/TBLogin/Index" class="btn btn-info btn-block">Back to Text Book Login</a>
                    </div>
                </div>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; WB TEXT BOOK CORPORATION
                </div>             
            </div>
        </div>        
    </body>



