@model SARASWATIPRESSNEW.Models.MstTransporter
@{
    ViewBag.Title = "AddTransport";
    Layout = "~/Views/Shared/_BdmsLayoutPage.cshtml";
}

 <script type="text/javascript">
     $(document).ready(function () {
         LoadDistrictDetails();
     });
     function LoadDistrictDetails() {

         $.ajax({
             url: "/MstCircle/GetDistrictDetails",
             type: 'POST',
             data: {},
             cache: false,
             success: function (data) {

                 var HtmlItems = "<option value='-1'><<----Select District----->></option>";
                 var itemCount = 0;
                 if (data.length == 0) {
                     HtmlItems = '<option>No District Aailable</option>';
                 }
                 else {
                     HtmlItems = "<option value='-1'><<----Select District----->></option>";
                 }
                 $.each(data, function (i, item) {
                     HtmlItems += "<option value='" + item.districtId + "'>" + item.DistrictName + "</option>";
                 });
                 $('#ddlDistrict').html(HtmlItems);
             },
             error: function (data) {
                 alert(data);
             }
         });

     }

     function isValidEntry() {

         if ($("#txtTransportname").val() == "") {
             alert("Enter Transport Name..");
             $('#txtTransportname').focus();
             return false;
         }

         if ($("#txtTransportaddress").val() == "") {
             alert("Enter Transport Address..");
             $('#txtTransportaddress').focus();
             return false;
         }
         if ($("#txttransportphoneno").val() == "") {
             alert("Enter Transport Phone No..");
             $('#txttransportphoneno').focus();
             return false;
         }
         if (confirm("Are you sure do you want to save Transporter information!") == false) {
             return false;
         }

         return true;

     }
</script>

<div class="panel-heading">
    <h3 class="panel-title"><strong>Transport Master</strong></h3>
</div>

<div class="panel-body">
    @using (Html.BeginForm("AddTransport", "MstTransporter", FormMethod.Post))
    {
        <table width="100%" border="0" class="table basic">
            <tr>
                <td style="width: 20%;">Transporter name</td>
                <td style="width: 20%;">@Html.TextBoxFor(a => a.Transporter_name, new { @id = "txtTransportname", @class = "form-control" })</td>
                <td style="width: 60%;"></td>
            </tr>
            <tr>
                <td style="width: 20%;">Transporter address</td>
                <td style="width: 20%;">@Html.TextBoxFor(a => a.Transporter_address, new { @id = "txtTransportaddress", @class = "form-control" })</td>
                <td style="width: 60%;"></td>
            </tr>
            <tr>
                <td style="width: 20%;">Transporter phone no</td>
                <td style="width: 20%;">@Html.TextBoxFor(a => a.Transporter_phone_no, new { @id = "txttransportphoneno", @class = "form-control" })</td>
                <td style="width: 60%;"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <button type="submit" id="btnSubmit" name="Command" style="width: 120px;" onclick="return isValidEntry();" value="Draft" class="btn btn-mini btn-danger">Save</button>
                    &nbsp;&nbsp;
                    <a href="/MstTransporter/Index" style="width: 120px;" class="btn btn-mini btn-danger">Cancel</a>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    }
</div>

