@{
    ViewBag.Title = "WB TEXT BOOK CORP.";
    Layout = "~/Views/Shared/_BdmsLayoutPage.cshtml";
}
<div style="margin-top: 100px;"></div>
<div class="panel-heading" style="height: 80vh;">
    <table style="width: 400px;">
        <tr>
            <td style="width:200px;"><a href="/TrxProvisionalChallanView/Index" style="width: 180px;" class="btn btn-mini btn-danger">Provisional Challan View</a></td>
            <td style="width:200px;"><a href="/InvoiceCumChallanReqList/Index" style="width: 180px;" class="btn btn-mini btn-danger">Challan View</a></td>
        </tr>
    </table>
</div>
