@model SARASWATIPRESSNEW.Models.MstSchool
@{
    ViewBag.Title = "School Master List";
    Layout = "~/Views/Shared/_BdmsLayoutPage.cshtml";
}
<script type="text/javascript" src="/resources/js/plugins/bootstrap/bootstrap-select.js"></script>
<script type="text/javascript" src="/resources/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" id="theme" href="/resources/css/theme-default.css" />
<link href="~/resources/css/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<style type="text/css">
    table.divDataEntry td, th {
        padding: 4px 4px 4px 4px;
        vertical-align: top;
        border: 1px solid;
        table-layout:fixed;
    }
 </style>
<script type="text/javascript">
    $(document).ready(function () {
        LoadMasterData();
    });
    function LoadMasterData() {
        $.ajax({
            url: "/MstSchoolView/GetSchoolMasterListData",
            type: 'POST',
            data: {  },
            cache: false,
            success: function (data) {
                var HtmlItems = "";
                $.each(data, function (i, item) {
                    HtmlItems += "<tr>";
                    HtmlItems += "      <td style='text-align:center;width: 10%;'>";
                    HtmlItems += "          <a href='/MstSchool/ReqOperation/?DataUniqueId=" + item.SchoolID + "&Command=Edit'>Edit</a>&nbsp;|&nbsp;";
                    HtmlItems += "          <a href='#' onclick='return DeleteRequisition(" + item.SchoolID + ");'>Delete</a>";
                    HtmlItems += "      </td>";
                    HtmlItems += "      <td style='width: 10%;word-wrap: break-word;'>" + item.SchoolCode + "</td>";
                    HtmlItems += "      <td style='width: 10%;word-wrap: break-word;'>" + item.SchoolName + "</td>";
                    HtmlItems += "      <td style='width: 10%;word-wrap: break-word;'>" + item.SchoolAdrees + "</td>";
                    HtmlItems += "      <td style='width: 9%;word-wrap: break-word;'>" + item.SchoolEmailid + "</td>";
                    HtmlItems += "      <td style='width: 10%;word-wrap: break-word;'>" + item.SchoolMobile + "</td>";
                    HtmlItems += "      <td style='width: 10%;word-wrap: break-word;'>" + item.SchoolAlternateMobile + "</td>";
                    HtmlItems += "      <td style='width: 11%;word-wrap: break-word;'>" + item.DeleivaryAddress + "</td>";
                    HtmlItems += "      <td style='width: 10%;word-wrap: break-word;'>" + item.PoliceStation + "</td>";
                    HtmlItems += "      <td style='width: 10%;word-wrap: break-word;'>" + item.PostalCode + "</td>";
                    HtmlItems += "</tr>";
                });
                $('#tblBookDtl').html(HtmlItems);
            },
            error: function (data) {
                alert("Some Error Occured");
            }
        });
    }
    function ConfirmRequisition() {
        var _griddata = gridTojson();
        if (_griddata.trim() == "") {
            alert("Please select atleast one Requisition from the list.");
            return false;
        }
        if (confirm("Are you sure do you want to Confirm the Requisition?") == false) {
            return false;
        }
        $.ajax({
            url: "/SchRequisionView/ConfirmRequisition",
            type: 'POST',
            data: { griddata: _griddata },
            cache: false,
            success: function (data) {
                $('#btnView').click();
                //alert(data);
            },
            error: function (data) {
            }
        });
    }
    function selectall(source) {
        checkboxes = document.getElementsByName('check');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    function gridTojson() {

        var json = '';
        var $ccol = [];
        checkboxes = document.getElementsByName('check');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].checked == true) {
                $ccol.push(checkboxes[i].value);
            }
        }
        json += $ccol.join(",") + '';

        return json;
    }
    function DeleteRequisition(DataUniqueId) {
        var dataUniqueIdtoCheck = DataUniqueId;
        $.ajax({
            url: '@Url.Action("isSchoolReferenceRecordExist", "MstSchoolView")',
            data: { DataUniqueId: dataUniqueIdtoCheck },
            type: "GET",
            success: function (result) {
                if (result.DataCount > 0) {
                    alert("Reference record exist .. delete can not be continue.");
                    return false;
                }
                else {
                    if (confirm("Are you sure do you want to delete circle information!") == true) {
                        $.ajax({
                            url: "/MstSchoolView/DeleteSchool",
                            type: 'POST',
                            data: { DataUniqueId: DataUniqueId },
                            cache: false,
                            success: function (data) {
                                LoadMasterData();
                                alert(data);

                                return true;
                            },
                            error: function (data) {
                            }
                        });

                    }
                    else {
                        return true;
                    }
                }
            }
        });


       
       
    }
    function ExportToExcel() {
        var url = "/MstSchoolView/ExportSchoolData";
        window.location.href = url;
    }
</script>

<div class="panel-heading">
    <h3 class="panel-title"><strong>School Master List</strong></h3>
</div>
    <div class="panel-body">
        <table id="tblBtn" class="table" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
            <tr>
                
                <td style="width: 25%;">
                    <a href="/MstSchool/Index" style="width: 120px;" class="btn btn-info btn-block">Add New</a>
                <td style="width: 15%;">
                    <input type="button" id="btnEmail" value="Export To Excel" onclick="ExportToExcel();" style="width: 120px" class="btn btn-info btn-block" /></td>
                <td  style="width: 60%;"></td>
            </tr>
        </table>
        <div style="width: 100%; height: 50vh;">         
             <table id="header" width="100%" class="divDataEntry" border="0"  >
                    <tr>
                        <td style='text-align:center;width: 9%;'>Edit  Delete</td>
                        <td style='width: 10%;'>School Code</td>
                        <td style='width: 10%;'>School Name</td>
                        <td style='width: 12%;'>School Address</td>
                        <td style='width: 10%;'>Email</td>
                        <td style='width: 10%;'>Mobile</td>
                        <td style='width: 10%;'>Alternate Mobile</td>
                        <td style='width: 10%;'>Delivary Address</td>
                        <td style='width: 10%;'>Policae Station</td>
                        <td style='width: 9%;'>Postal Code</td>              
                    </tr>                   
                </table>
              <div style="width: 100%; height: 42vh; overflow: scroll;margin-top:0px; border: 2px solid #808080;">               
                <table id="tblBookDtl" width="100%" border="0" class="table basic">
                    <tr>
                        <td>Loading....</td>
                    </tr>                   
                </table>
            </div>           
        </div>
         
    </div>
 
@if (TempData["AppMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@(TempData["AppMessage"] as string)");
        };
    </script>
}