@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BdmsLayoutPage.cshtml";
}

<div class="panel-heading">
    <h3 class="panel-title"><strong>Welcome</strong></h3>
</div>

<div class="panel-body" style="height:70vh;">
   
</div>
