@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_BdmsLayoutPage.cshtml";
}
<head>
    <title>New Requisition</title>
    <script type="text/javascript" src="/resources/js/plugins/bootstrap/bootstrap-select.js"></script>
    <script type="text/javascript" src="/resources/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" id="theme" href="/resources/css/theme-default.css" />
</head>
<body>
    @*<div class="page-container">*@




    <!--End Notification -->
    <br />
    @*<div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal">
                    <div class="panel panel-default" style="margin-top:100px;">*@
    <div class="panel-heading">
        <h3>
            <a class="btn btn-info btn-block" href="~/Help/DirectorateHelp/DirectorateHelp.pdf" target="_blank">Click here to view <b>PDF Help File</b></a>
        </h3>
    </div>
    <div>&nbsp;<br /></div>
    <div class="panel-heading">
        <h3>
            <a class="btn btn-info btn-block" href="~/Help/DirectorateHelp/TeamViewerQS.exe" target="_blank">Click here to install <b>Remote Assistance Application</b></a>
        </h3>
    </div>
    @*</div>
                    </form>
                </div>
            </div>
        </div>*@

    @*</div>*@
</body>
